<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
  <form action="/new" method="post">
    <select name="name">
      <option value="みきと">みきと</option>
      <option value="かれん">かれん</option>
      <option value="はやと">はやと</option>
    </select>
    <input name="title" type="text">
    <input name="comment" type="text">
    <select name="time">
      <option value=1>30分</option>
      <option value=2>1時間</option>
      <option value=3>1.5時間</option>
      <option value=4>2時間</option>
    </select>
    <input type="submit" value="登録">
  </form>
</body>
</html>
